.grid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
}

.box {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  font-size: 35px;
  color: black;
}

.test :hover {
  background-color: rgb(115, 11, 252);
}

.banner {
  background-color: rgb(128, 24, 247);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  font-family: Arial, Helvetica, sans-serif;
}
